.navbarContainer {
    height: 80px;
    width: 100%;
    background-color: transparent; /* Initially transparent */
    position: fixed;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    z-index: 1000;
  }
  
  .navbarContainer.scrolled {
    background-color: #000000; /* Change to black when scrolled */
  }
  
  /* Other styles... */
  
.navRight{
color: white;
margin-left: 70px;
font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: xx-large;
display: flex;
}
.navleft {
    margin-left: 600px; /* Moves .navleft to the right end */
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    font-size: xx-large;
}

.NavItem{
    color: white;
    margin: 30px;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: x-large;
}
.NavItem:hover{
   color: rgb(212, 210, 210);
   cursor: pointer;
}
.navRight:hover{
    color: rgb(212, 210, 210);
    cursor: pointer;
 }
.navSmall {
    color: white;
    visibility: hidden;
    display: none; /* Hide .navSmall by default */
}
@media (max-width:800px) {
    .navbarContainer {
        width: 100%;
    }
    .navRight {
        margin-left: 20px;
        margin-right: 20px;
        position: fixed;
    }
    .navleft{
        margin-left: 150px;
    }
}
@media (max-width: 600px) {
    .NavItem {
        display: none; /* Hide .navleft on small screens */
    }
    .navSmall {
        visibility: visible; /* Make .navSmall visible */
        display: block;
        margin-left: 300px;
         /* Show .navSmall on small screens */
    }
    .navRight {
        margin-left: 20px;
        margin-right: 20px;
        position: fixed;
    }
    .navleft {
   
        margin-left: 20px;
        margin-right: 20px;
        position: fixed;
    }
}