.navbarContainer {
    height: 80px;
    width: 100%;
    background-color: transparent; /* Initially transparent */
    position: fixed;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    z-index: 1000;
  }
  
  .navbarContainer.scrolled {
    background-color: #000000; /* Change to black when scrolled */
  }
  
  /* Other styles... */
  
.navRight{
color: white;
width: 900px;
margin-left: 70px;
font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: xx-large;
display: flex;
right: 0;
}
.navleft {
    margin-left: 500px; 
    width: 300px;/* Moves .navleft to the right end */
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    font-size: xx-large;
    left: 0;
}

.NavItem{
    color: white;
    width: auto;
    margin: 30px;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: x-large;
}

.NavItem:hover{
   color: rgb(212, 210, 210);
   cursor: pointer;
}
.navRight:hover{
    color: rgb(212, 210, 210);
    cursor: pointer;
 }
.navSmall {
    color: white;
    visibility: hidden;
    display: none; /* Hide .navSmall by default */
}
/* Styles for small screens (max-width: 600px) */
@media (max-width: 600px) {
    .NavItem {
        display: none; /* Hide .NavItem on small screens */
    }

    .navSmall {
        visibility: visible; /* Make .navSmall visible */
        display: block;
        margin-left:430px; /* Example margin */
        /* Additional styles as needed for small screens */
    }

    .navleft {
        
        margin-left: auto; /* Center .navRight horizontally */
        margin-right: 10px; /* Adjust margin for .navRight on medium screens */
    }

    .navRight {
        margin-left: 10px; /* Adjust margin for .navleft on medium screens */
        margin-right: auto; /* Center .navleft horizontally */
        
    }
}

/* Styles for medium screens (max-width: 800px) */
@media (max-width: 800px) {
    .navRight,
    .navleft {
        position: fixed; /* Reapply fixed positioning for medium screens */
        margin: 10px; /* Example margin */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
    }

    .navleft {
        margin-left: auto; /* Center .navRight horizontally */
        margin-right: 10px; /* Adjust margin for .navRight on medium screens */
    }

    .navRight {
        margin-left: 10px; /* Adjust margin for .navleft on medium screens */
        margin-right: auto; /* Center .navleft horizontally */
        
    }
}