.BodyTopContainer{
    height:1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.imgcont{
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
}
.immg{
  height: 300px;
  width: 400px;
}
.ast{
    height: 500px;
    width: 300px;
    display: block;
}

.greeting {
    display: block;
    margin-top: 150px;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
.greeting h2{
    height: auto;
    width: 480px;
    padding: 15px;
    font-size: 3em;
    margin-left: 200px;
    display: flex;
    border: solid white 1px;
    color: white;
    background-image: linear-gradient(to right, rgba(170, 54, 124, 0.5) 30%, rgba(74, 47, 189, 0.5) 80%);
}
.greeting h2:hover{
    border: solid white 3px;
}
@keyframes floatAnimation {
    0% {
      transform: translateY(-300);
    }
    50% {
      transform: translateY(-310px);
    }
    100% {
      transform: translateY(-80);
    }
  }
  
  .ast {
    animation: floatAnimation 2s ease-in-out infinite;
  }
  
.greeting h1{
    font-size:3.2em;
    margin-left: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.remaining-text {
    margin-top: -40px;
    font-size: 1em;
    opacity: 0; /* Initially hidden */
   font-variant: linear-gradient(to right, rgba(170, 54, 124, 0.5) 30%, rgba(74, 47, 189, 0.5) 80%);
    animation: fadeInWords 5s infinite; /* Animation duration: 10 seconds */
}

/* Define keyframes for fading in words */
@keyframes fadeInWords {
    0% { opacity: 0; }
    10% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
.greeting p {
  font-size: 1.2em;
  margin-left: 200px;
  font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(218, 218, 218);
}
