.ExpContainer {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Dark background color */
  font-family: Arial, sans-serif;
}
.cont{
  display: flex;
  height: 800px;
  margin-bottom: 100px;
  margin-left: 100px;
}
.wrkImg{
  margin-left: 100px;
  margin-top: 20px;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(-20);
  }
  20%{
    transform: rotateX(30);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-80);
  }
}

.wrkImg {
  animation: floatAnimation 3s ease-in-out infinite;
}

.j-logo{
  height: 100px;
  width: 150px;
  margin-left: -100px;
  margin-top: 60px;

}
.section-title {
  font-size: 48px; /* Reduced font size */
  font-weight: bold;
  margin-top: 50px;
  margin-left: 700px;
  margin-bottom: 20px; /* Increased margin bottom */
  color: #fff; /* White text color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.job {
  border-left: 4px solid #e74c3c; /* Red border color */
  padding-left: 20px; /* Increased padding left */
  margin-left: 250px;
  margin-bottom: 100px;
  width: 900px;
}

.job-title {
  margin-top: -40px;
  font-size: 20px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff; /* White text color */
}

.job-duration {
  font-size: 16px; /* Increased font size */
  color: #f6f6f6;
  margin-bottom: 10px;
}

.job-description ul {
  list-style-type: square; /* Changed list style to square */
  margin-left: 30px; /* Increased margin left */
  font-family: 'Brush Script', 'Lucida Handwriting', 'Comic Sans MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f6f6f6; /* Light text color */
  position: sticky;
  width: auto;
}

.job-description li {
  margin-bottom: 8px; /* Increased margin bottom */
}
